.react-flow__node .hidden {
    width: 0;
    padding: 0;
}

.react-flow__node .columnLineageHandle {
    border-radius: 0;
    border-color: #000000;
    background: #00000000;
    transform: none;
    border: none;
}

.react-flow__node .columnLineageField.selected {
    background-color: #b4d1ff;
    border-color: var(
        --xy-selection-border,
        var(--xy-selection-border-default)
    );
}
