.react-flow__node.draggable.selectable {
    cursor: pointer;
}

.react-flow__node.selected .MuiCard-root {
    --xy-selection-background-color: #ebf2fd;
    background-color: var(
        --xy-selection-background-color,
        var(--xy-selection-background-color-default)
    );
    border-color: var(
        --xy-selection-border,
        var(--xy-selection-border-default)
    );
}

.react-flow .react-flow__handle {
    top: auto;
}

.react-flow .react-flow__handle-left {
    left: 0;
}
.react-flow .react-flow__handle-right {
    right: 0;
}
